.navbar-custom .navbar-brand{
  color: red;

}

header{
  background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed; 
  background-size: cover;
}

h2 {
  /*font-family: 'Shadows Into Light Two', cursive;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}

h4.subheading {
    font-size: 50px;
}

.img-circle {
    border-radius: 80%;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
}


