<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>the Loop</title>
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Pacifico|Playfair+Display|Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|News+Cycle|Pathway+Gothic+One|Yanone+Kaffeesatz" rel="stylesheet">
    <!--  <link href="https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco" rel="stylesheet"> -->
    <!-- Theme CSS -->
    <link href="/css/agency.min.css" rel="stylesheet">
    <link href="/css/agency.css" rel="stylesheet">
    <!-- Loop Theme CSS -->
    <link href="/css/loopstyle.css" rel="stylesheet"> 
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
                <img src="/img/theloop(white)-01.png" width="100" alt="theLooplogo" />
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#login">Join Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Survey</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#bythenum">By the Numbers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Events</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resources">Resources</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Our Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- ============================Header===================================== -->
     
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to the Loop!</div>
                <div class="intro-heading"></div>
                <a href="/login" class="page-scroll btn btn-xl">Join Today!</a>
            </div>
        </div>
    </header>

    
    <!-- ========================SURVEY Section============================ -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Take Our Survey</h2>
                    <p>the loop is a community dedicated to supporting New Jersey women interested in technology. We strive to facilitate mentor-mentee relationships.  Upon registering, you will be matched with a mentor or mentee (your preference) and the loop will provide a platform for you to strengthen and sustain that relationship.  If you love tech and identify as a female, you are invited to sign up and take our survey to become part of the loop!</p>
                    <h3 class="section-subheading text-muted">Become a Mentor or Mentee</h3>
                    <a href='/survey' class="page-scroll btn btn-xl">Continue!</a>
                    <hr>
                </div>
                <br>
            </div>
    </section>
    
               
           
 <!-- ===========================BY THE NUMBERS=================================== -->
    <section id="bythenum">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">By The Numbers</h2>
                    <h3 class="section-subheading text-muted">Why We Need Women In Technology.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/37-01-01.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Early 1980's is when Women were most interested in Computer Science.</h4>
                                    <h4 class="subheading">37% </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Of Computer Science majors were women. In 1984 that percentage flattened and continued to drop.</p>
                                    <p>NPR
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/12-02.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>By 2012 Women Studying Computer Science dropped</h4>
                                    <h4 class="subheading">18%</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The number of women studying computer science plunged. "In a study Google released last month, the company surveyed about 1,600 men and women. It showed that girls aren't really taught what computer science actually means, and are half as likely to be encouraged to study it."</p>
                                    <p>TechRepublic.com
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/75-04.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In 2014</h4>
                                    <h4 class="subheading">75% | 58%</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Women WITH a Sponsor show 2% more satisfaction over Men with rate of advancement and Promotions. And 58% of Women with NO Sponsor, 57% of Men with NO Sponsor are satisfied with rate of advancement and promotions.</p>
                                    <p>Re-rendered from Hewlett et al., 2014
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/24-03.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In 2015 we see somewhat of an increase.</h4>
                                    <h4 class="subheading">25%</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The number of women in the computing workforce increased, but not significantly & still LESS than 10% of those women are women of color! </p>
                                    <p>NCWIT.ORG
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
   <!-- ===========================EVENTS=================================== -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Check Out Some Upcoming Meetup Opportunities!</h3>
                    <a href="events" class="page-scroll btn btn-xl">See Upcoming Events!</a>
                </div>
            </div>
            <div class="row">
               <!--  <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/meetup.svg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Friday, October 14th</h4>
                        <p class="text-muted">First Coding Meetup</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/meetup.svg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Friday, October 21st</h4>
                        <p class="text-muted">Second Coding Meetup</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/meetup.svg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sunday, October 29th</h4>
                        <p class="text-muted">Online Coding Challenge</p>
                    </div>
                </div> -->
            
        <p style="text-align: center; padding-top: 30px;">Here are some Tech NJ/NY Groups we recommend from Meetup!</p>
        <div id="results" style="text-align: center;"> 
        </div>

            </div>
        </div>
    </section>

<!-- ====================== RESOURCES ============================= -->
    <section id="resources" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resources</h2>
                    <h3 class="section-subheading text-muted">There is a sea of tech information out there. It can be overwhelming. Check out some helpful links we curated for you!</h3>
                      <a href="/forum" class="page-scroll btn btn-xl">Learn More!</a> 
                </div>

            </div>

            <div class="row">                  
                </div>
            </div>
    </section>


    <!-- ====================Team Section===================== -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">The Women Behind The Loop! We are all recent Rutgers Coding Bootcamp graduates who have ambition to learn programing. With our newly developed skills, we want to help mentor and we want to be mentored. Connect with us and be in the loop!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member">
                        <img src="/img/team/theloopgroupphoto.jpg" class="img-responsive" alt="theLoop">
                        <p>Illustration by <a href="http://bmeddlesome.com/illustration.html">BMEDD</a>
                        <p></p>
                        <!-- <p class="text-muted">Lead Designer</p> -->
                        <br>
                        <a href="/about" class="page-scroll btn btn-xl">Contact Us!</a>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                       
                    </div>
                </div>
            </div>
    </section>
   
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; The Loop New Jersey 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/Theloopnj_Jungl"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/The-Loop-NJ-1203592486374593/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <!-- <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
   
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="/js/agency.min.js"></script>
   <!--  meet up api JavaScript -->
    <script src="/js/meetup.js"></script>
</body>

</html>
