<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Survey</title>

		<!--Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
		<!--Select2-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
		<!--Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Montserrat|Pacifico|Roboto+Slab" rel="stylesheet">
		<!--Stylesheet-->
		<link rel="stylesheet" href="../css/survey.css" type="text/css">


	</head>
	<body>
		<div class="container">
		
			<a href="home.html"><h1>the loop</h1></a>
		</div>

		<div class="container userInfo">
			<h2>About You</h2>
			<!--Name input-->
			<p>Name (Required)</p>
			<input type="text" id="firstName" class="form-control" required placeholder="First Name" aria-describedby="basic-addon1">
			<input type="text" id="lastName" class="form-control" required placeholder="Last Name" aria-describedby="basic-addon1">
		</div>

		<div class="question-container" id= "questions">
			<h4>I would like to join the loop as a... </h4>
				<div class="btn-group" role="group" id= "q0" aria-label="...">
						<button type="button" class="btn btn-default" value="1">MENTOR</button>
						<button type="button" class="btn btn-default" value="2">MENTEE</button>
					</div>
			</div>
	
			<div class="question-container">
				<h4>The best way to communicate with people is face-to-face.</h4>
					<div class="btn-group" role="group" id= "q1" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I am a natural extrovert. </h4>
					<div class="btn-group" role="group" id= "q2" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>Everyone’s views should be respected.</h4>
					<div class="btn-group" role="group" id= "q3" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>It is difficult for me to relate to other people’s feelings.</h4>
					<div class="btn-group" role="group" id= "q4" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default"  value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>It is challenging to stay relaxed and focused when I am under some pressure.</h4>
					<div class="btn-group" role="group" id= "q5" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>If I were offered a job in a foreign country, I would move immediately.</h4>
					<div class="btn-group" role="group" id= "q6" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>We need more women working in the field of technology.</h4>
					<div class="btn-group" role="group" id= "q7" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
					
				<div class="question-container">
				<h4>I love to analyze problems with a partner.</h4>
					<div class="btn-group" role="group" id= "q8" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I am energized after spending time with a group of people.</h4>
					<div class="btn-group" role="group" id= "q9" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>Technology rocks!</h4>
					<div class="btn-group" role="group" id= "q10" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>The best leaders allow the people they are supervising to own their own work.</h4>
					<div class="btn-group" role="group" id= "q11" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>When I am presented with a project, I dive right in.</h4>
					<div class="btn-group" role="group" id= "q12" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>Google is my best friend.</h4>
					<div class="btn-group" role="group" id= "q13" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>Since I was young, I have always wanted to work in the field of technology.</h4>
					<div class="btn-group" role="group" id= "q14" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>If I won a $20 million lottery tonight, I would still go to work tomorrow.</h4>
					<div class="btn-group" role="group" id= "q15" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I take time for myself to refresh and reboot.</h4>
					<div class="btn-group" role="group" id= "q16" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>On a rainy Sunday afternoon, I catch up on all my projects.</h4>
					<div class="btn-group" role="group" id= "q17" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>When I am frustrated by a project, I keep plugging along despite my frustration.</h4>
					<div class="btn-group" role="group" id= "q18" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I explain things very well.</h4>
					<div class="btn-group" role="group" id= "q19" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I ask a lot of questions..</h4>
					<div class="btn-group" role="group" id= "q20" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I read mostly non-fiction (as opposed to fiction).</h4>
					<div class="btn-group" role="group" id= "q21" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>The best way to communicate with people is face-to-face.</h4>
					<div class="btn-group" role="group" id= "q22" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I have had many positive role models who have helped me along my journey.</h4>
					<div class="btn-group" role="group" id= "q23" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>Collaboration is the key to success.</h4>
					<div class="btn-group" role="group" id= "q24" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>
						<div class="question-container">
				<h4>I believe that within the next ten years, there will be twice as many women employed in the technology sector as there are today.</h4>
					<div class="btn-group" role="group" id= "q25" aria-label="...">
						  <button type="button" class="btn btn-default" value="1">Oh, that's so NOT me!</button>
						  <button type="button" class="btn btn-default" value="2">That's me on some days.</button>
						  <button type="button" class="btn btn-default" value="3">Not really sure.</button>
						  <button type="button" class="btn btn-default" value="4">That's me on most days.</button>
						  <button type="button" class="btn btn-default" value="5">Yes, that's ME!</button>
					</div>
			</div>

				

		<div class="container">
			<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">
			<i class="fa fa-check" aria-hidden="true"></i>
			Submit!
			</button>
		</div>



		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">It's a Match!</h4>
		      </div>
		      <div class="modal-body">
		        <img id="match-img">
		        <h5 id="match-name-style">You have matched with <span id="match-name"></span>!</h5>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>



		<!--=============Script Tags=============-->

		<!--Font Awesome-->
		<script src="https://use.fontawesome.com/2ce3b4e69a.js"></script>

		<!--Jquery-->
		<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

		<!--Select2-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

		<!--Boostrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!--Local JS file-->
		<script src="js/survey.js" type="text/javascript"></script>

	</body>
</html>