<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>the loop</title>
		<!--Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
		<!--Select2-->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
		<!-- Fonts-->
		<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kaushan+Script|Montserrat|Pacifico|Roboto+Slab" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Pacifico|Playfair+Display|Shadows+Into+Light+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|News+Cycle|Pathway+Gothic+One|Yanone+Kaffeesatz" rel="stylesheet">

		<!--Stylesheet-->
		<link rel="stylesheet" href="../css/survey.css" type="text/css">


	</head>
	<body>
		<div class="container">
		
			<a href="/"><img class="logo" src="/img/theloop-02.png" alt="theLooplogo"/></a>
		</div>

		<div class="container userInfo">
			<h2>About You</h2>
			<!--Name input-->
			<p>Name (Required)</p>
			<input type="text" id="firstName" class="form-control" required placeholder="First Name" aria-describedby="basic-addon1" value="nancy">
			<input type="text" id="lastName" class="form-control" required placeholder="Last Name" aria-describedby="basic-addon1" value="lucas">
		</div>

		<div class="question-container" id= "questions">
			<h4>I would like to join the loop as a... </h4>
				<select class="questions" id="q0">
            <option value="Mentor" selected>Mentor</option>
            <option value="Mentee">Mentee</option>
      	</select>
		</div>
	


			
				<div class="question-container">
					<h4>The best way to communicate with people is face-to-face.</h4>
					<select class="question-select" id= "q1" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
				</div>
						<div class="question-container">
				<h4>I am a natural extrovert. </h4>
					<select class="question-select" id= "q2" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>Everyone’s views should be respected.</h4>
					<select class="question-select" id= "q3" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>It is difficult for me to relate to other people’s feelings.</h4>
					<select class="question-select" id= "q4" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>It is challenging to stay relaxed and focused when I am under some pressure.</h4>
					<select class="question-select" id= "q5" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>If I were offered a job in a foreign country, I would move immediately.</h4>
					<select class="question-select" id= "q6" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>We need more women working in the field of technology.</h4>
					<select class="question-select" id= "q7" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
					
				<div class="question-container">
				<h4>I love to analyze problems with a partner.</h4>
					<select class="question-select" id= "q8" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>I am energized after spending time with a group of people.</h4>
					<select class="question-select" id= "q9" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>Technology rocks!</h4>
					<select class="question-select" id= "q10" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>The best leaders allow the people they are supervising to own their own work.</h4>
					<select class="question-select" id= "q11" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>When I am presented with a project, I dive right in.</h4>
					<select class="question-select" id= "q12" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>Google is my best friend.</h4>
					<select class="question-select" id= "q13" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>Since I was young, I have always wanted to work in the field of technology.</h4>
					<select class="question-select" id= "q14" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>If I won a $20 million lottery tonight, I would still go to work tomorrow.</h4>
					<select class="question-select" id= "q15" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>I take time for myself to refresh and reboot.</h4>
					<select class="question-select" id= "q16" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>On a rainy Sunday afternoon, I catch up on all my projects.</h4>
					<select class="question-select" id= "q17" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>When I am frustrated by a project, I keep plugging along despite my frustration.</h4>
					<select class="question-select" id= "q18" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>I explain things very well.</h4>
					<select class="question-select" id= "q19" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>I ask a lot of questions..</h4>
					<select class="question-select" id= "q20" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>I read mostly non-fiction (as opposed to fiction).</h4>
					<select class="question-select" id= "q21" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>The best way to communicate with people is face-to-face.</h4>
					<select class="question-select" id= "q22" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>I have had many positive role models who have helped me along my journey.</h4>
					<select class="question-select" id= "q23" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>Collaboration is the key to success.</h4>
					<select class="question-select" id= "q24" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
						<div class="question-container">
				<h4>I believe that within the next ten years, there will be twice as many women employed in the technology sector as there are today.</h4>
					<select class="question-select" id= "q25" aria-label="...">
		            <option value=""></option>
		            <option value="1">1 (Oh, that's so NOT me!)</option>
		            <option value="2">2</option>
		            <option value="3" selected>3</option>
		            <option value="4">4</option>
		            <option value="5">5 (Yes, that's ME!)</option>
					</select>
			</div>
		
				

		<div class="container">
			<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">
			<i class="fa fa-check" aria-hidden="true"></i>
			Submit!
			</button>
		</div>



		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">It's a Match!</h4>
		      </div>
		      <div class="modal-body">
		        <img id="match-img">
		        <h5 id="match-name-style">You have matched with <span id="match-name"></span>!</h5>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>



		<!--=============Script Tags=============-->

		<!--Font Awesome-->
		<script src="https://use.fontawesome.com/2ce3b4e69a.js"></script>

		<!--Jquery-->
		<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

		<!--Select2-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

		<!--Boostrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!--Local JS file-->
		<script src="js/survey.js" type="text/javascript"></script>

	</body>
</html>